# Compiled Python files
*.pyc
*.pyo
*.pyc
$py.class

# Cached Python bytecode
__pycache__/

# Distribution / packaging
/dist/
/build/
.eggs/
*.egg-info/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Output data
/output_data/
/output_data-OLD/

# macOS specific files
.DS_Store 
profile_data.prof

model/temp_comments.py

tests/test_bidding.ipynb

test_model.ipynb

